body {
  font-family: 'Nunito', Arial, sans-serif;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/*
banner image
https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/melbourne.jpg


https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/fitzroy.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/st-kilda.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/central-business-district.jpg

*/
/**
For banner over lay add this class to your div
<div class="banner__container">
  <div>
      <!-- content goes here -->
  </div>
</div>
*/
.banner__container {
  position: relative;
  background-image: url("../imgs/melbourne.jpg");
  height: 600px;
}

.banner__container:before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  content: "";
}

.container {
  padding: 10px 30px;
  margin: 0 auto;
}

.container nav a {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
}

.container nav {
  padding: 10px 10px;
}

.flex {
  display: flex;
}

.justify {
  justify-content: space-between;
}

.justify_center {
  justify-content: center;
  align-items: center;
}

.banner__container div {
  /* width: 50%; */
  /* margin: 25% 25%; */
  text-align: center;
  color: white;
  font-size: 20px;
}

/* .banner__container h2 {
  font-size: 40px;
  text-align: center;
  color: white;
  font-weight: bold;
} */

/* .banner__container p {
  font-size: 20px;
  text-align: center;
  color: white;
  font-weight: bold;
} */

/* .banner__container button {
  display: block;
  margin: auto;
  color: rgb(187, 59, 102);
  background-color: pink;
  padding: 5px 20px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  color: white;
} */

.container_activity {
  padding: 50px 5px;
  background-color: rgb(218, 216, 216);
}

.grid {
  display: grid;
}

.grid-container {
  /* grid-template-areas: 'left right'; */
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.grid-border {
  border: 1px solid rgb(156, 154, 154);
}

.grid-left {
  /* grid-area: left; */
}

.grid-right {
  /* grid-area: right; */
}

.title {
  background-color: rgb(218, 216, 216);
  padding: 1em 0;
  padding-left: 15px;
}  

.content {
  background-color: white;
  padding: 15px 15px;
}

.thumbnail {
  grid-template-columns: 2fr 2fr 2fr;
  gap: 2rem;
  margin-bottom: 30px;
}

.features-container {
  border: 1px solid rgb(156, 154, 154);
}

.image1 {
  background-image: url(../imgs/1\ thumbnail.jpg);
}

.image2 {
  background-image: url(../imgs/2\ thumbnail.jpg);
}

.image3 {
  background-image: url(../imgs/3\ thumbnail.jpg);
}

.thumbnail-container {
  height: 210px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.button {
  display: block;
  margin: auto;
  color: rgb(187, 59, 102);
  background-color: rgb(231, 144, 159);
  padding: 5px 20px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  color: white;
  box-shadow: 0 2px red;
}

.features-title {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 15px;
  font-size: 1.5em;
  font-weight: bold;
}

.justify-thumbnail {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  background-color: rgb(218, 216, 216);
  padding: 1px 5px 20px 15px;
  font-size: 13px;
  font-weight: bold;
}

.footer {
  justify-content: center;
  padding: 20px auto;
  margin: 40px auto;
  background-color: rgb(83, 81, 81);
}

@media (min-width: 0px) and (max-width: 414px) {
    .grid-container {
      grid-template-columns: 1fr;
    }

    .container {
      padding: 2px;
    }

    .container img {
      width: 100px;
    }

    .container nav a{
      font-size: 12px;
    }

    .inside-container {
      width: 70%;
      font-size: 1rem;
    }

    .banner__container div {
      /* width: 50%; */
      /* margin: 25% 25%; */
      font-size: 12px;
      width: 70%;
    }

    .button {
      font-size: 12px;
    }
    
}

