body {
  font-family: 'Nunito', Arial, sans-serif;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


/**
For banner over lay add this class to your div
<div class="banner__container">
  <div>
      <!-- content goes here -->
  </div>
</div>
*/
.banner__container {
  position: relative;
}

.banner__container:before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  content: "";
}
